Notification from example.com, <%= @user.first_name %>
===============================================

You have requested a password reset for the account <%= @user.email %>.

To reset your password, just follow this link: <%= @url %>.
