<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Feedback received by <%= @user.first_name%></title>
        <style type="text/css">
			/* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
			#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
			.ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
			body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
			table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
			img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

			/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
			body{margin:0; padding:0;}
			img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
			table{border-collapse:collapse !important;}
			body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}

			/* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */

			/* ========== Page Styles ========== */

			#bodyCell{padding:20px;}
			#templateContainer{width:600px;}

			/**
			* @tab Page
			* @section background style
			* @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
			* @theme page
			*/
			body, #bodyTable{
				/*@editable*/ background-color:#DEE0E2;
			}

			/**
			* @tab Page
			* @section background style
			* @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
			* @theme page
			*/
			#bodyCell{
				/*@editable*/ border-top:transparent;
			}

			/**
			* @tab Page
			* @section email border
			* @tip Set the border for your email.
			*/
			#templateContainer{
				/*@editable*/ border:transparent;
			}

			/**
			* @tab Page
			* @section heading 1
			* @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
			* @style heading 1
			*/
			h1{
				/*@editable*/ color:#202020 !important;
				display:block;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:26px;
				/*@editable*/ font-style:normal;
				/*@editable*/ font-weight:bold;
				/*@editable*/ line-height:100%;
				/*@editable*/ letter-spacing:normal;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Page
			* @section heading 2
			* @tip Set the styling for all second-level headings in your emails.
			* @style heading 2
			*/
			h2{
				/*@editable*/ color:#404040 !important;
				display:block;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:20px;
				/*@editable*/ font-style:normal;
				/*@editable*/ font-weight:bold;
				/*@editable*/ line-height:100%;
				/*@editable*/ letter-spacing:normal;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Page
			* @section heading 3
			* @tip Set the styling for all third-level headings in your emails.
			* @style heading 3
			*/
			h3{
				/*@editable*/ color:#606060 !important;
				display:block;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:16px;
				/*@editable*/ font-style:italic;
				/*@editable*/ font-weight:normal;
				/*@editable*/ line-height:100%;
				/*@editable*/ letter-spacing:normal;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Page
			* @section heading 4
			* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
			* @style heading 4
			*/
			h4{
				/*@editable*/ color:#808080 !important;
				display:block;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:14px;
				/*@editable*/ font-style:italic;
				/*@editable*/ font-weight:normal;
				/*@editable*/ line-height:100%;
				/*@editable*/ letter-spacing:normal;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				/*@editable*/ text-align:left;
			}

			/* ========== Header Styles ========== */

			/**
			* @tab Header
			* @section preheader style
			* @tip Set the background color and bottom border for your email's preheader area.
			* @theme header
			*/
			#templatePreheader{
				/*@editable*/ background-color:#F4F4F4;
				/*@editable*/ border-bottom:1px solid #CCCCCC;
			}

			/**
			* @tab Header
			* @section preheader text
			* @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
			*/
			.preheaderContent{
				/*@editable*/ color:#808080;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:10px;
				/*@editable*/ line-height:125%;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Header
			* @section preheader link
			* @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
			*/
			.preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:#606060;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			/**
			* @tab Header
			* @section header style
			* @tip Set the background color and borders for your email's header area.
			* @theme header
			*/
			#templateHeader{
				/*@editable*/ background-color:#F4F4F4;
				/*@editable*/ border-top:1px solid #FFFFFF;
				/*@editable*/ border-bottom:1px solid #CCCCCC;
			}

			/**
			* @tab Header
			* @section header text
			* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
			*/
			.headerContent{
				/*@editable*/ color:#505050;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:20px;
				/*@editable*/ font-weight:bold;
				/*@editable*/ line-height:100%;
				/*@editable*/ padding-top:0;
				/*@editable*/ padding-right:0;
				/*@editable*/ padding-bottom:0;
				/*@editable*/ padding-left:0;
				/*@editable*/ text-align:left;
				/*@editable*/ vertical-align:middle;
			}

			/**
			* @tab Header
			* @section header link
			* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
			*/
			.headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:#EB4102;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			#headerImage{
				height:auto;
				max-width:600px;
			}

			/* ========== Body Styles ========== */

			/**
			* @tab Body
			* @section body style
			* @tip Set the background color and borders for your email's body area.
			*/
			#templateBody{
				/*@editable*/ background-color:#F4F4F4;
				/*@editable*/ border-top:1px solid #FFFFFF;
				/*@editable*/ border-bottom:1px solid #CCCCCC;
			}

			/**
			* @tab Body
			* @section body text
			* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
			* @theme main
			*/
			.bodyContent{
				/*@editable*/ color:#505050;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:16px;
				/*@editable*/ line-height:150%;
				padding-top:20px;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Body
			* @section body link
			* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
			*/
			.bodyContent a:link, .bodyContent a:visited, /* Yahoo! Mail Override */ .bodyContent a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:#EB4102;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			.bodyContent img{
				display:inline;
				height:auto;
				max-width:560px;
			}

			/* ========== Column Styles ========== */

			.templateColumnContainer{width:260px;}

			/**
			* @tab Columns
			* @section column style
			* @tip Set the background color and borders for your email's column area.
			*/
			#templateColumns{
				/*@editable*/ background-color:#F4F4F4;
				/*@editable*/ border-top:1px solid #FFFFFF;
				/*@editable*/ border-bottom:1px solid #CCCCCC;
			}

			/**
			* @tab Columns
			* @section left column text
			* @tip Set the styling for your email's left column content text. Choose a size and color that is easy to read.
			*/
			.leftColumnContent{
				/*@editable*/ color:#505050;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:14px;
				/*@editable*/ line-height:150%;
				padding-top:0;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Columns
			* @section left column link
			* @tip Set the styling for your email's left column content links. Choose a color that helps them stand out from your text.
			*/
			.leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:#EB4102;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			/**
			* @tab Columns
			* @section right column text
			* @tip Set the styling for your email's right column content text. Choose a size and color that is easy to read.
			*/
			.rightColumnContent{
				/*@editable*/ color:#505050;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:14px;
				/*@editable*/ line-height:150%;
				padding-top:0;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Columns
			* @section right column link
			* @tip Set the styling for your email's right column content links. Choose a color that helps them stand out from your text.
			*/
			.rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:#EB4102;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			.leftColumnContent img, .rightColumnContent img{
				display:inline;
				height:auto;
				max-width:260px;
			}

			/* ========== Footer Styles ========== */

			/**
			* @tab Footer
			* @section footer style
			* @tip Set the background color and borders for your email's footer area.
			* @theme footer
			*/
			#templateFooter{
				/*@editable*/ background-color:#F4F4F4;
				/*@editable*/ border-top:1px solid #FFFFFF;
			}

			/**
			* @tab Footer
			* @section footer text
			* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
			* @theme footer
			*/
			.footerContent{
				/*@editable*/ color:#808080;
				/*@editable*/ font-family:Helvetica;
				/*@editable*/ font-size:10px;
				/*@editable*/ line-height:150%;
				padding-top:20px;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				/*@editable*/ text-align:left;
			}

			/**
			* @tab Footer
			* @section footer link
			* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
			*/
			.footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
				/*@editable*/ color:#606060;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}

			hr {
				margin-top: 20px;
				margin-bottom: 20px;
				border: 0;
				border-top: 1px solid #eee;
			}

			/* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */

            @media only screen and (max-width: 480px){
				/* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
				body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */
                body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body */

				/* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
				#bodyCell{padding:10px !important;}

				/* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */

				/* ======== Page Styles ======== */

				/**
				* @tab Mobile Styles
				* @section template width
				* @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
				*/
				#templateContainer{
					max-width:600px !important;
					/*@editable*/ width:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section heading 1
				* @tip Make the first-level headings larger in size for better readability on small screens.
				*/
				h1{
					/*@editable*/ font-size:24px !important;
					/*@editable*/ line-height:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section heading 2
				* @tip Make the second-level headings larger in size for better readability on small screens.
				*/
				h2{
					/*@editable*/ font-size:20px !important;
					/*@editable*/ line-height:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section heading 3
				* @tip Make the third-level headings larger in size for better readability on small screens.
				*/
				h3{
					/*@editable*/ font-size:18px !important;
					/*@editable*/ line-height:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section heading 4
				* @tip Make the fourth-level headings larger in size for better readability on small screens.
				*/
				h4{
					/*@editable*/ font-size:16px !important;
					/*@editable*/ line-height:100% !important;
				}

				/* ======== Header Styles ======== */

				#templatePreheader{display:none !important;} /* Hide the template preheader to save space */

				/**
				* @tab Mobile Styles
				* @section header image
				* @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
				*/
				#headerImage{
					height:auto !important;
					/*@editable*/ max-width:600px !important;
					/*@editable*/ width:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section header text
				* @tip Make the header content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
				*/
				.headerContent{
					/*@editable*/ font-size:20px !important;
					/*@editable*/ line-height:125% !important;
				}

				/* ======== Body Styles ======== */

				/**
				* @tab Mobile Styles
				* @section body text
				* @tip Make the body content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
				*/
				.bodyContent{
					/*@editable*/ font-size:18px !important;
					/*@editable*/ line-height:125% !important;
				}

				/* ======== Column Styles ======== */

				.templateColumnContainer{display:block !important; width:100% !important;}

				/**
				* @tab Mobile Styles
				* @section column image
				* @tip Make the column image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
				*/
				.columnImage{
					height:auto !important;
					/*@editable*/ max-width:480px !important;
					/*@editable*/ width:100% !important;
				}

				/**
				* @tab Mobile Styles
				* @section left column text
				* @tip Make the left column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
				*/
				.leftColumnContent{
					/*@editable*/ font-size:16px !important;
					/*@editable*/ line-height:125% !important;
				}

				/**
				* @tab Mobile Styles
				* @section right column text
				* @tip Make the right column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
				*/
				.rightColumnContent{
					/*@editable*/ font-size:16px !important;
					/*@editable*/ line-height:125% !important;
				}

				/* ======== Footer Styles ======== */

				/**
				* @tab Mobile Styles
				* @section footer text
				* @tip Make the body content text larger in size for better readability on small screens.
				*/
				.footerContent{
					/*@editable*/ font-size:14px !important;
					/*@editable*/ line-height:115% !important;
				}

				.footerContent a{display:block !important;} /* Place footer social and utility links on their own lines, for easier access */
			}
		</style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: white;">
    	<center>
			<table border="0" cellpadding="0" cellspacing="0"
				   style="background-color:transparent!important;border-collapse:collapse!important;border-spacing:0;border:transparent;color:#000!important;max-width:100%;width:600px"
				   bgcolor="white !important">
				<tbody>
				<tr style="background-color:transparent!important;color:#000!important" bgcolor="transparent !important">
					<td align="center" valign="top" style="background-color:transparent!important;color:#000!important;padding:0"
						bgcolor="transparent !important">

						<table border="0" cellpadding="0" cellspacing="0" width="100%"
							   style="background-color:transparent!important;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse!important;border-spacing:0;color:#000!important;max-width:100%"
							   bgcolor="transparent !important">
							<tbody>
							<tr style="background-color:transparent!important;color:#000!important"
								bgcolor="transparent !important">
								<td valign="top"
									style="background-color:transparent!important;color:#000!important;font-family:Helvetica;font-size:10px;line-height:125%;padding:10px 20px;text-align:left"
									align="left" bgcolor="transparent !important">
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr style="background-color:transparent!important;color:#000!important" bgcolor="transparent !important">
					<td align="center" valign="top" style="background-color:transparent!important;color:#000!important;padding:0"
						bgcolor="transparent !important">

						<table border="0" cellpadding="0" cellspacing="0" width="100%"
							   style="background-color:transparent!important;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse!important;border-spacing:0;border-top-color:#ffffff;border-top-style:solid;border-top-width:1px;color:#000!important;max-width:100%"
							   bgcolor="transparent !important">
							<tbody>
							<tr style="background-color:transparent!important;color:#000!important"
								bgcolor="transparent !important">
								<td valign="top"
									style="background-color:transparent!important;border-top-color:#67c2ef!important;border-top-style:solid!important;border-top-width:10px!important;color:#000!important;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;padding:0;text-align:left;vertical-align:middle"
									align="left" bgcolor="transparent !important">
									<div style="background-color:transparent!important;color:#000!important;margin-top:0;overflow:hidden;padding:20px;zoom:1">
										<a href="http://www.improvemee.com"
										   style="background-color:transparent!important;color:#000!important;float:right!important;font-weight:normal;text-decoration:underline"
										   target="_blank">
											<img alt="64x64"
												 src="https://ci6.googleusercontent.com/proxy/aMznldcakHX3iwvkQhyENf54wPBnFdsGCe-MMeztWVA59woCyumr7-1lJy903Q5-EYtWx8LBjEJtaatbhVTTRRUq9ZcGQX6ZMR2Kvc3Lhdj1AjYIgOXxu9qxt0vG4q-iV5FQMks=s0-d-e1-ft#http://designmodo.com/wp-content/themes/designmodov2.1/flat-ui/images/ico-9.png"
												 style="background-color:transparent!important;border:0;color:#000!important;display:block;min-height:64px;line-height:100%;max-width:100%!important;outline:none;text-decoration:none;vertical-align:middle;width:64px"
												 class="CToWUd"></a>

										<div style="background-color:transparent!important;color:#000!important;overflow:hidden;width:80%!important;zoom:1">
											<h1 style="background-color:transparent!important;color:#202020!important;display:block;float:left!important;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;letter-spacing:normal;line-height:100%;margin:0 0 10px;text-align:left"
												align="left"><%= @user.first_name %>,</h1>

											<h1 style="background-color:transparent!important;color:#202020!important;display:block;float:left!important;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;letter-spacing:normal;line-height:100%;margin:0 0 10px;text-align:left"
												align="left"><span
											style="background-color:transparent!important;color:rgba(0,0,0,0.5)!important">  <span
											style="background-color:transparent!important;color:#67c2ef!important;font-weight:bolder">You've been given feedback!</span> <br/>Come check it out.</span>
											</h1>

										</div>

									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr style="background-color:transparent!important;color:#000!important" bgcolor="transparent !important">
					<td align="center" valign="top" style="background-color:transparent!important;color:#000!important;padding:0"
						bgcolor="transparent !important">

						<table border="0" cellpadding="0" cellspacing="0" width="100%"
							   style="background-color:transparent!important;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse!important;border-spacing:0;border-top-color:#ffffff;border-top-style:solid;border-top-width:1px;color:#000!important;max-width:100%"
							   bgcolor="transparent !important">
							<tbody>
							<tr style="background-color:transparent!important;color:#000!important"
								bgcolor="transparent !important">
								<td valign="top"
									style="background-color:transparent!important;color:#000!important;font-family:Helvetica;font-size:16px;line-height:150%;padding:20px;text-align:justified!important"
									align="justified !important" bgcolor="transparent !important">
									Get ready to see how others perceived your event(s):
									<hr/>
									<% @new_feedback_event.take(5).each do |key, array| %>
										<li>
											<span style="color: #e94c34"><%= key %></span> gave you feedback on <% %><span style="color: #e94c34"><%= array.to_sentence%></span><% %>.
										</li>
									<% end %>
									<% if @new_feedback_event.length - 5 > 0%><p style="color: gray; font-style: italic">And <%= @new_feedback_event.length - 1 %> other as well.</p><% end %>

									<hr/>
									<a href="http://www.improvemee.com" target="_blank" style="text-decoration: none"><button style="-webkit-appearance: none;
											-webkit-background-clip: border-box;
											-webkit-background-origin: padding-box;
											-webkit-background-size: auto;
											-webkit-box-shadow: rgba(255, 255, 255, 0.34902) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 1px -1px;
											-webkit-user-select: none;
											-webkit-writing-mode: horizontal-tb;
											align-items: flex-start;
											background-attachment: scroll;
											background-clip: border-box;
											background-color: rgb(121, 196, 71);
											background-image: none;
											background-origin: padding-box;
											background-size: auto;
											border-bottom-color: rgb(121, 196, 71);
											border-bottom-left-radius: 2px;
											border-bottom-right-radius: 2px;
											border-bottom-style: solid;
											border-bottom-width: 1px;
											border-image-outset: 0px;
											border-image-repeat: stretch;
											border-image-slice: 100%;
											border-image-source: none;
											border-image-width: 1;
											border-left-color: rgb(121, 196, 71);
											border-left-style: solid;
											border-left-width: 1px;
											border-right-color: rgb(121, 196, 71);
											border-right-style: solid;
											border-right-width: 1px;
											border-top-color: rgb(121, 196, 71);
											border-top-left-radius: 2px;
											border-top-right-radius: 2px;
											border-top-style: solid;
											border-top-width: 1px;
											box-shadow: rgba(255, 255, 255, 0.34902) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 1px -1px;
											box-sizing: border-box;
											color: rgb(255, 255, 255);
											cursor: pointer;
											display: block;
											font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
											font-size: 18px;
											font-stretch: normal;
											font-style: normal;
											font-variant: normal;
											font-weight: normal;
											height: 45px;
											letter-spacing: normal;
											line-height: 23.9400005340576px;
											margin-bottom: 0px;
											margin-left: 0px;
											margin-right: 0px;
											margin-top: 0px;
											overflow-x: visible;
											overflow-y: visible;
											padding-bottom: 10px;
											padding-left: 10px;
											padding-right: 10px;
											padding-top: 10px;
											text-align: center;
											text-indent: 0px;
											text-shadow: none;
											text-transform: none;
											vertical-align: middle;
											white-space: nowrap;
											word-spacing: 0px;
											writing-mode: lr-tb;">
										See my Feedback
									</button></a>
									<br/>
									<p style="color: gray; font-style: italic">Remember to give feedback regularly to help others improve.</p>
									<hr>
									For a detailed step by step guide on how to use the tool visit: <br/>
									<a href="http://youtu.be/7nvadDGKGBQ" >improveMee User Guide</a>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr style="background-color:transparent!important;color:#000!important" bgcolor="transparent !important">
					<td align="center" valign="top" style="background-color:transparent!important;color:#000!important;padding:0"
						bgcolor="transparent !important">


					</td>
				</tr>
				<tr style="background-color:transparent!important;color:#000!important" bgcolor="transparent !important">
					<td valign="top"
						style="background-color:transparent!important;color:#000!important;font-family:Helvetica;font-size:10px;line-height:150%;padding:0 20px 20px;text-align:left"
						align="left" bgcolor="transparent !important">
						<em style="background-color:transparent!important;color:#000!important">Copyright © 2014 improveMee, All
							rights reserved.</em>
						<br style="background-color:transparent!important;color:#000!important"><br
					style="background-color:transparent!important;color:#000!important"><strong
					style="background-color:transparent!important;color:#000!important;font-weight:700">Any
						Questions?</strong>
						<br style="background-color:transparent!important;color:#000!important"><a
					href="mailto:notifications@improvemee.com"
					style="background-color:transparent!important;color:#000!important;font-weight:normal;text-decoration:underline"
					target="_blank">notifications@improvemee.com</a><span class="HOEnZb"><font color="#888888">
					</font></span></td>
				</tr>
				</tbody>
			</table>
        </center>
    </body>
</html>